*{
	margin: 0px;
	padding: 0px;
}

.wrap{
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 5;
	width: 100%;
	padding: 10px 0px;
	background-color: rgba(237, 27, 36, .7);
	color: #fff;
}

.navbar-toggler{
	border: 1px solid #fff !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.wrap li{
	padding: 0px;
	vertical-align: middle;
}

.wrap li a{
	color: #fff;
	transition: .2s ease-in-out all;
	font-family: 'Raleway', sans-serif;
}

.wrap li a:hover{
	color: #E8E8E8;
	opacity: 0.8;
}

.wrap i{
	font-size: 23px;
	margin-top: 6px;
	margin-left: 10px;
	color: #fff;
	transition: all 1s;
}

.wrap i:hover{
	color: #E8E8E8;
	opacity: 0.8;
	transform: rotateY(360deg);
}



@media (min-width: 320px){
	
}

@media (min-width: 554px){

}

@media (min-width: 768px){

}

@media (min-width: 992px){
	
	.wrap li{
		padding: 5px 8px;
	}

}

@media (min-width: 1200px){
	.wrap li{
		padding: 5px 10px;
	}
}