*{
	margin: 0px;
	padding: 0px;
}

/* --------------- About Us Section -------------------- */

#about-section{
	background-image: url("../../images/back.jpg");
	padding-top: 40px;
	padding-bottom: 40px;
}

h6{
	line-height: 1.35;
}

#about-section h1{
	font-family: 'Raleway', sans-serif;
	color: #ed1b24;
	margin-bottom: 30px;

}

#about-section p{
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-size: 15px;
}

#about-section h2{
	font-family: 'Raleway', sans-serif;
	color: lightgray;
	margin-bottom: 30px;

}

/* ---------------- End About Us ----------------------- */



.menu-wrapper{
	background-image: url("../../images/white3.jpg");
	padding-bottom: 70px;
}


.choose-menu{
	margin-bottom: 20px;
	padding-top: 25px;
}

.btn{
	font-family: 'Raleway', sans-serif;
	background-color:rgba(0,0,0,0.1);
	color:black;
	padding: 10px 20px;
	border:1px dashed rgba(0,0,0,.66);
	transition:0.20s ease-in-out all;
	outline: none !important;
	outline-style: none !important;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none!important;
}

.btn:hover{
	background-color: rgba(0,0,0,0.18);
}

.line{
	display:flex;
	height: 2px;
	width: 100%;
	color:gray;
	background-color:#ed1b24;
	vertical-align: middle;
}

#dole{
	font-size: 0.99rem;
}

.choose-menu{
margin-bottom: 20px;
}

.category{
	font-family: 'Galada', cursive;
	font-size: 5.4rem;
	color:rgba(0,0,0,.96);
}

.choose-menu div{
	text-align: center;
}

.btn{
	font-size: 0.85rem;
	margin-top: 15px;
}

.category{
	font-size: 2.05rem;
}

.long{
		font-size: 1.3rem;
	}

.long2{
	font-size: 1.5rem;
}

.long3{
	font-size: 1.5rem;
}

.menu2{
	display: none;
}

.menu3{
	display: none;
}


h2{
font-family: 'Raleway', sans-serif;
font-size: 1.1rem;
font-weight: bold;
}

h6{
	font-style: italic;
	font-family: 'Raleway', sans-serif;
	font-size: 0.75rem;
}

.selected button{
	background-color: rgba(0,0,0,0.18);
	border:1px solid rgba(0,0,0,.56);
}

.menu-item{
	padding-bottom: 10px;
}

.menu-item2{
	padding:15px;
}

.first-menu{
	padding-top: 5px;
}

.second-menu{
	padding-top: 5px;
}

.third-menu{
	padding-top: 5px;
}

.first-row{
	padding-bottom: 43px;
	padding-top:53px;
}

.menu-item h2{
	border-bottom: 2px dashed #ed1b24;
	padding-bottom: 5px;
}

.two-size{
	font-size: 0.9rem !important;
}


/* --------------------- Catering Section --------------------- */

	
#catering-section{
	padding-top: 40px;
	padding-bottom: 40px;
	font-family: 'Raleway', sans-serif;
	background-image: url("../../images/back.jpg");
	color: #fff;
}

#catering-section h2{
	margin-top: 15px;
}


/* ------------------ End Catering Section ------------------ */




/* --------------- Hours & Location Section ----------------- */

	#location-section{
		padding-top: 40px;
		padding-bottom: 40px;
	}

	#location-section h1{
		font-family: 'Raleway', sans-serif;
		font-weight: bold;
		color: #ed1b24;
	}

	.sub-title{
		font-size: 1.7rem;
	}

	.wrap-line{
		padding-top: 40px;
		padding-bottom: 40px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.icon{
		margin-top: -15px;
	}

	.icon i{
		background-color: #ed1b24;
		color: #fff;
		padding: 8px;
		border-radius: 50%;
	}

	#location-section h5{
		font-family: 'Raleway', sans-serif;
		margin-bottom: 15px;
	}
	
	.info{
		margin-bottom: 10px;
	}

/* ------------------ End Hours & Location -------------------- */
	








/* ----------------- Map Section --------------------- */
	
	.map{
		padding-left: 0px;
		padding-right: 0px;
	}

	#map-section iframe{
		width: 100%;
		height: 200px;
	}


/* --------------- End Map Section ----------------- */

	.addon{
		margin-top: -10px;
		margin-bottom: 35px;
		font-weight: bold;
	}

		.addon2{
		margin-top: 17px;
		margin-bottom: 37px;
		font-weight: bold;
		font-family: 'Galada', cursive;
		font-size: 1.2rem;
	}


@media (min-width: 576px) {






	h2{
	font-family: 'Raleway', sans-serif;
	font-size: 1.1rem;
	font-weight: bold;
	}

	#dole{
	font-size: 1rem;
	}

		.two-size{
		font-size: 1.0rem !important;
	}


	h6{
		font-style: italic;
		font-family: 'Raleway', sans-serif;
		font-size: 0.75rem;
	}


	.choose-menu{
	margin-bottom: 20px;

	}

	.first-row{
		height: 125px;
	}

	.category{
		font-size: 2.72rem;
	}

	.long{
		font-size: 1.8rem;
	}

	.long3{
		font-size: 1.51rem;
	}


	.btn{
		font-size: 0.8rem;
		margin-top: 20px;
	}

	.last-button{
		margin-left: 5px;
		
	}

	.custom-offset{
		
	}

	.custom-offset2{
		margin-left: 1.5%;
	}

	.first-menu{
	padding-top: 20px;
	}

	.second-menu{
		padding-top: 20px;
	}

	.third-menu{
		padding-top: 22px;
	}

	.addon{
		margin-top: -35px;
		margin-bottom: 60px;
		font-weight: bold;
	}

	.addon2{
		margin-top: -10px;
		margin-bottom: 40px;
		font-weight: bold;
		font-family: 'Galada', cursive;
		font-size: 1.6rem;
	}

}

@media (min-width: 768px) {


	

	h2{
	font-family: 'Raleway', sans-serif;
	font-size: 1.4rem;
	}

		#dole{
	font-size: 1.15rem;
	}

	.two-size{
		font-size: 1.25rem !important;
	}

	h6{
		font-style: italic;
		font-family: 'Raleway', sans-serif;
		font-size: 1.03rem;
	}

		.custom-offset2{
	margin-left: 1.5%;
	}
	
	.choose-menu{
	margin-bottom: 20px;
	padding-top: 60px;
	}

	.first-row{
	height: 175px;
	}

	.category{
		font-size: 3.7rem;
	}

	.long{
		font-size: 2.6rem ;
	}

	.long3{
		font-size: 2.1rem;
	}
	.custom-offset{
		margin-left: -4.75%;
	}

	.last-button{
		margin-left: 1.8%;
	}

	.btn{
		font-size: 0.86rem;
		margin-top: 0px;
	}

		#biblos{
		font-size:1.366rem;
	}

		.addon2{
		margin-top: 10px;
		margin-bottom: 50px;
		font-weight: bold;
		font-family: 'Galada', cursive;
		font-size: 1.8rem;
	}
	
}

@media (min-width: 992px) {

	h2{
		font-size: 1.7rem;
	}

		#dole{
	font-size: 1.45rem;
	}

	.two-size{
		font-size: 1.5rem !important;
	}

	.price{
		font-family: 'Raleway', sans-serif;
		font-weight: 300;	}

	span{
		position: relative;
		top: 4px;
		left: -4px;
		color:#000
	}

	#about-section{
		background-color: #000;
		padding-top: 60px;
		padding-bottom: 60px;
	}

	
	#about-section h1{
		font-size: 3.5rem;
	}

	#about-section p{
		font-size: 1.1rem;
	}

	.choose-menu div{
		text-align: left;
	}

	.category{
	font-size: 4.3rem;
	}

	.long{
		font-size: 3.5rem;
	}

		.long3{
		font-size: 2.8rem;
	}

	.btn{
		font-size: 1rem;
	}

	.last-button{
		margin-left: 8.7%;
	}

	.custom-offset{
		margin-left: 0.5%;
	}

	.custom-offset2{
	margin-left: 2.5%;
	}

	#catering-section h1{
		font-size: 3.2rem;
	}

	#location-section{
		padding-top: 70px;
		padding-bottom: 60px;
	}

	#location-section h1{
		font-size: 3.5rem;
	}

	.sub-title{
		font-size: 2.2rem;
	}

	.info{
		margin-bottom: 10px;
		font-size: 1.15rem;
	}

	#map-section iframe{
		width: 100%;
		height: 300px;
	}
	
	#biblos{
		font-size:1.366rem;
	}

		.addon2{
		margin-top: 10px;
		margin-bottom: 50px;
		font-weight: bold;
		font-family: 'Galada', cursive;
		font-size: 2.3rem;
	}
	
}

@media (min-width: 1200px) {




	.category{
		font-size: 4.8rem;
	}

	.long{
		font-size: 4.2rem;
	}

	.long3{
		font-size: 3.3rem;
	}

	.last-button{
		margin-left: 8.33333%;
	}

	.custom-offset{
	margin-left: 4.76%;
	}

	.custom-offset2{
	margin-left: 4.76%;
	}

	#biblos{
		font-size:1.6rem;
	}

			#dole{
	font-size: 1.85rem;
	}
}
